/* STEP 1*/
@keyframes logoanimate { 
    from {width:25px;}
    to {width:475px;}
    from {opacity:0;}
    to {opacity:1;}
}

#logo { 
    animation-name: logoanimate;
    animation-duration:5s;
}

/* STEP 2*/
body { 
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* STEP 3*/
header { 
    display: flex;
    justify-content: center;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column;
}


/* STEP 4*/
.nav_links{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:#0000FF;

}
/* STEP 5*/

.nav_item a:visited{
    color:inherit;
}

/* STEP 6*/
.card > header { 
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-radius: 50px 50px 0px 0px;
}


/* STEP 7*/
.card { 
    display: flex;
    margin: 10px 100px;
    flex-basis:450px;
    flex-direction: column;
    justify-content: center;
    flex-flow: column wrap;
    border-radius: 50px 50px 0px 0px;

}


/* STEP 8*/
.pricing { 
    display: flex;
    flex-direction: column;
    /*finish this*/
}

/* STEP 9*/
.gallery img { 
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* STEP 10*/
.gallery { 
    display:flex;
    flex-direction:wrap;
    flex-wrap: wrap;
    justify-content: center;
}

/* STEP 11*/
@media screen and (min-width: 900px){
    header { 
        display: flex;
        justify-content:space-between;
        flex-direction: row;
    }

    .nav_links{    /*these should be centered vertically? */
        display:flex;
        justify-content: space-between;
        align-items:center;
        align-content:center;
        flex-direction:row;
        /* flex-direction:center; */
    }


/* STEP 12*/

    .card { /*corners rounding needs fixing*/
            display: flex;
            flex-direction: row;
            /* justify-content: space-between; */
            /* align-content:center; */
            flex-flow: column wrap;
            flex-grow: 1;
            flex-basis: 275px;
            border-radius: 50px 50px 0px 0px;

        }

    .pricing{
        display: flex;
        flex-direction: row;
    }

/* STEP 13*/
    body > header { 
        width: 100%;
        position:-webkit-sticky;
        position:sticky;
        top:0;
    }
}

/* STEP 14*/

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation-name:none;
    }
}

/* STEP 15: CHECK */

@media print { 
    body { 
        font-family: Arial, Helvetica;
        /* STEP 16*/
        background-image:none;
    }

/* STEP 17*/
    .nav_links{
        width:100%;
        flex-direction:row;
        justify-content:space-between;
    }    

/* STEP 18: CHECK */

    .pricing{
        align-content:baseline;
        flex-direction:row;
    }

/* STEP 19*/

    .card { 
        border: solid 2px #45ADDD;
        flex-direction:column;
        flex-wrap: wrap;
        flex-basis:325px;
        border-radius: 50px 50px 0px 0px;
    }

/* STEP 20*/
    #gallery, .gallery{
        display:none;
    }


/* STEP 21*/
    .card  li:nth-child(2n)::after{
        content: "\01F44D";    
    }

}
