/* STEP 1*/
@keyframes logoanimate { 
    from {width:25px;}
    to {width:475px;}
    from {opacity:0;}
    to {opacity:1;}
}

#logo { 
    animation-name: logoanimate;
    animation-duration:5s;
}

/* STEP 2*/
body { 
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

/* STEP 3*/
header { 
    display: flex;
    justify-content: center;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column;
}


/* STEP 4*/
.nav_links{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
    color:#0000FF;

}
/* STEP 5*/

.nav_item a:visited{ /*only styling the links AFTER they've been clicked on*/
    color:inherit;
}

/* STEP 6*/
.card > header{ /*only styling the header of the cards */ 
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 20px 0px;
    border-radius: 50px 50px 0px 0px;
}


/* STEP 7*/
.card { 
    display: flex;
    margin: 10px 100px;
    flex-basis:450px;
    flex-direction: column;
    justify-content: center;
    flex-flow: column wrap;
    border-radius: 50px 50px 0px 0px;

}


/* STEP 8*/
.pricing { 
    display: flex;
    flex-direction: column;
}

/* STEP 9*/
.gallery img{ /* styling all images within the gallery class */ 
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* STEP 10*/
.gallery{ 
    display:flex;
    flex-direction:wrap;
    flex-wrap: wrap;
    justify-content: center;
}

/* STEP 11*/
@media screen and (min-width: 900px){ /*changing media screen to minimum width of 900px to style the larger screens only */
    header { 
        display: flex;
        justify-content:space-between;
        flex-direction: row;
    }

    .nav_links{ 
        display:flex;
        justify-content: space-between;
        flex-direction:row;
        margin: 20px
    }


/* STEP 12*/
    .card { 
        display: flex;
        flex-basis: 275px;
        justify-content: center;
        height:fit-content;
        margin: 10px 10px;

    }

    .pricing{
        display: flex;
        flex-direction: row;
        justify-content:center;
    }

/* STEP 13*/
    body > header { 
        width: 100%;
        position:-webkit-sticky; 
        position:sticky; /*sticky makes it move once it is reached through scrolling on the screen -- since it's at the top, it will immediately become fixed*/
        top:0;
    }
}

/* STEP 14*/

@media screen and (prefers-reduced-motion: reduce){ /*styling only for reduced motion users */
    #logo{
        animation-name:none;
    }
}

/* STEP 15: */

@media print { /*styling only the print screen*/
    body { 
        font-family: Arial, Helvetica;
        /* STEP 16*/
        background-image:none;
    }

/* STEP 17*/
    .nav_links{
        width:100%;
        flex-direction:row;
        justify-content:space-between;
        margin: auto 0px;
    }    

/* STEP 18: */

    .pricing{
        align-items: flex-end;
        flex-direction:row;
        justify-content:space-between;
    }

/* STEP 19*/

    .card{ 
        border: solid 2px #45ADDD;
        flex-grow:2;
        flex-basis:325px;
        margin: 10px 10px;
    }

/* STEP 20*/
    #gallery, .gallery{ /*styling both the gallery text and gallery images so they don't appear in the print screen*/
        display:none;
    }


/* STEP 21*/
    .card li:nth-child(2n)::after{ /*only getting the second list element of each card, and putting the content AFTER the list item */
        content: "\01F44D";    
    }

}
