/* STEP 1*/
@keyframes logoanimate { 
    from {width:25px;}
    to {width:475px;}
    from {opacity:0;}
    to {opacity:1;}
}

#logo { 
    animation-name: logoanimate;
    animation-duration:5s;
}

/* STEP 2*/
body { 
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
}

/* STEP 3*/
header { 
    display: flex;
    justify-content: center;
    align-content:center;
    flex-wrap:wrap;
    flex-direction:column;
}


/* STEP 4*/
.nav_links{ 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}

/* STEP 5*/


/* STEP 6*/
.card > header { 
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding: 0px;
    border-radius: 50px 50px 0px 0px;
}


/* STEP 7*/
.card {  /*corners rounding needs fixing*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-flow: column wrap;
    border-radius:50px;
}


/* STEP 8*/
.pricing { 
    display: flex;
    flex-direction: column;
    /*finish this*/
}

/* STEP 9*/
.gallery img { 
    border: solid 10px #50C7C7;
    margin: 10px;
    width: 300px;
}

/* STEP 10*/
.gallery { 
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* STEP 11*/
@media screen and (min-width: 900px){
    header { 
        display: flex;
        justify-content:space-between;
        flex-direction: row;
    }

    .nav_links{    /*these should be centered vertically? */
        display:flex;
        justify-content: space-between;
        align-items:center;
        align-content:center;
        flex-direction:row;
    }


/* STEP 12*/

/*look at directions about specificing size of 275px*/

.card { /*corners rounding needs fixing*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-flow: column wrap;
}

.pricing{
    display: flex;
    flex-direction: row;
}

/* STEP 13*/

}

/* STEP 14*/

@media screen and (prefers-reduced-motion: reduce){
    #logo{
        animation-name:none;
    }

    /*not sure if this is correct*/

}

/* STEP 15: CHECK */

@media print { 
    body { 
        font-family: Arial, Helvetica;
        background-image:none;
    }


/* STEP 16*/

/* STEP 17*/
.nav_links{

}

/* STEP 18: CHECK */

.pricing{
    align-items:baseline;
}

/* STEP 19*/

.card { 
    border: solid 2px #45ADDD;
    flex-basis:325px;
    content: \1F44D;
}

/* STEP 20*/

.gallery{
    visibility:hidden;
}

/* STEP 21*/

.class li:second-child{
    content: "\01F354";
}

}
